@{
    ViewBag.Title = "高考必备";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="viewport">
    <section>
	<div class="cont">
    	<div class="banner">
          <div class="banner-btn">
            <a class="prevBtn">&nbsp;</a>
            <a class="nextBtn">&nbsp;</a>
          </div>
          <div class="bnn-main">
                <ul class="banner-img">
                    <li><img src="/images/gkbb1.jpg"/></li>
                    <li><img src="/images/gkbb2.jpg"/></li>
                  </ul>
          </div>
            <ul class="banner-circle"><li class="selected"><a>&nbsp;</a></li><li><a>&nbsp;</a></li></ul>
        </div>
   	 <div class="mrt10 modarea">
          <div class="clearfix mod-tit">
              <span><i class="jc-icon"></i>精彩视频</span>
              <a class="fr more"  href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinVideo.aspx" target="_self" class="ui-link">&nbsp;</a>
          </div>
                <ul class="clearfix tj-list">
                <li>
                    <a href="~/html/viewdata.html" target="_self" class="ui-link"><img src="http://support.gkbb.zxxk.com/UpLoad/VideoIcon/2016/04/3195_b.jpg"/><span>2015年高考语文新课标</span></a>
                    <div class="clearfix tj-det">
                        <i class="vd-icon">&nbsp;</i><span>2.8万</span>
                    </div>
                </li>
                <li>
                    <a href="~/html/viewdata1.html" target="_self" class="ui-link"><img src="http://support.gkbb.zxxk.com/UpLoad/VideoIcon/2016/05/4748_b.jpg"/><span>2015年高考数学北</span></a>
                    <div class="clearfix tj-det">
                        <i class="vd-icon">&nbsp;</i><span>5.3万</span>
                    </div>
                </li>
                <li>
                    <a href="~/html/viewdata2.html" target="_self" class="ui-link"><img src="http://support.gkbb.zxxk.com/UpLoad/VideoIcon/2016/05/3734_b.jpg"/><span>2015年高考化学北京卷</span></a>
                    <div class="clearfix tj-det">
                        <i class="vd-icon">&nbsp;</i><span>1.6万</span>
                    </div>
                </li>
                <li>
                    <a href="~/html/viewdata3.html" target="_self" class="ui-link"><img src="http://support.gkbb.zxxk.com/UpLoad/VideoIcon/2016/05/5835_b.jpg"/><span>2015年高考英语北京卷</span></a>
                    <div class="clearfix tj-det">
                        <i class="vd-icon">&nbsp;</i><span>3.5万</span>
                    </div>
                </li>
                </ul>
     </div>
     <div class="mrt10 modarea">
          <div class="clearfix mod-tit">
              <span ><i class="zs-icon">&nbsp;</i>知识大全</span>
              <a class="fr more" href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNews.aspx" target="_self" class="ui-link">&nbsp;</a>
          </div>
          <div class="mod-main zs-list">
          	  <!-- Swiper -->
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=1&from=newsdefault" target="_self" class="ui-link"><img src="/images/yw.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=2&from=newsdefault" target="_self" class="ui-link"><img src="/images/sx.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=3&from=newsdefault" target="_self" class="ui-link"><img src="/images/yy.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=4&from=newsdefault" target="_self" class="ui-link"><img src="/images/wl.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=5&from=newsdefault" target="_self" class="ui-link"><img src="/images/hx.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=6&from=newsdefault" target="_self" class="ui-link"><img src="/images/sw.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=7&from=newsdefault" target="_self" class="ui-link"><img src="/images/zz.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=8&from=newsdefault" target="_self" class="ui-link"><img src="/images/ls.png"/></a></div>
                      <div class="swiper-slide"><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNewsSortList.aspx?newsortID=9&from=newsdefault" target="_self" class="ui-link"><img src="/images/dl.png"/></a></div>
                  </div>
              </div>
          </div>
     </div>
     <div class="mrt10 modarea">
          <div class="clearfix mod-tit bor-bt">
              <span ><i class="zt-icon">&nbsp;</i>历年真题</span>
              <a class="fr more" href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinTestpaper.aspx" target="_self" class="ui-link">&nbsp;</a>
          </div>
              <ul class="txt-list">
              	<li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinShowTestpaper.aspx?testpaperID=2900&parentid=1&from=newsdefault" target="_self" class="ui-link"><span>抢先看</span>1、2016年高考语文新课标I卷</a></li>
                <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinShowTestpaper.aspx?testpaperID=2899&parentid=1&from=newsdefault" target="_self" class="ui-link"><span>抢先看</span>2、2016年高考语文新课标Ⅱ卷</a></li>
                <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinShowTestpaper.aspx?testpaperID=2923&parentid=2&from=newsdefault" target="_self" class="ui-link"><span>抢先看</span>3、2016年高考数学（理科）新课标Ⅰ卷</a></li>
                <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinShowTestpaper.aspx?testpaperID=2917&parentid=3&from=newsdefault" target="_self" class="ui-link"><span>抢先看</span>4、2016年高考英语新课标I卷</a></li>
                <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinShowTestpaper.aspx?testpaperID=2935&parentid=4&from=newsdefault" target="_self" class="ui-link"><span>抢先看</span>5、2016年高考理科综合新课标I卷（物理部分）</a></li>
              </ul>
     </div>
     <div class="modarea">
          <div class="clearfix mod-tit bor-bt">
              <span ><i class="dt-icon">&nbsp;</i>贴心电台</span>
              <a class="fr more" href="http://support.gkbb.zxxk.com/WebSite/weixin/winxinAuidoDefault.aspx" target="_self" class="ui-link">&nbsp;</a>
          </div>
              <ul class="clearfix dt-list">
              	<li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/winxinAuidoDefault.aspx" target="_self" class="ui-link"><img src="/images/dt1.png"/></a></li>
                <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/winxinAuidoDefault.aspx" target="_self" class="ui-link"><img src="/images/dt2.png"/></a></li>
              </ul>
     </div>   
   </div>
</section>
    <footer>
	<ul class="clearfix nav-list">
    	<li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinNews.aspx" target="_self" class="ui-link"><i class="zsdq"></i><span>知识大全</span></a></li>
        <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinTestpaper.aspx" target="_self" class="ui-link"><i class="gkst"></i><span>高考试题</span></a></li>
        <li><a><i class="hmbt"></i></a></li>
        <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/weixinVideo.aspx" target="_self" class="ui-link"><i class="xxsp"></i><span>学习视频</span></a></li>
        <li><a href="http://support.gkbb.zxxk.com/WebSite/weixin/winxinAuidoDefault.aspx" target="_self" class="ui-link"><i class="txdt"></i><span>贴心电台</span></a></li>
    </ul>
</footer>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3.5,
            paginationClickable: true,
            spaceBetween: 10,
            freeMode: true
        });
    </script>
</div>
